<div class="card" [routerLink]="['/medicine', medicine.id]">
  <div class="card-header">
    <h3>{{ medicine.genericName }}</h3>
   
  </div>

  @if (medicine.brandName) {
    <p class="brand">{{ medicine.brandName }}</p>
  }

  <div class="meta">
    @if (medicine.strength) {
      <span>{{ medicine.strength }}</span>
    }
    @if (medicine.dosageForm) {
      <span>{{ medicine.dosageForm }}</span>
    }
    @if (medicine.price) {
      <span>{{ medicine.price }} ETB</span>
    }
  </div>

  @if (medicine.requiresPrescription) {
    <span class="badge">Prescription required</span>
  }
 <footer class="card-footer">
    <a class="btn btn-view-details" [routerLink]="['/medicine', medicine.id]">View Detail</a>
  </footer>
</div>

